<%= form_with(model: shift, local: true) do |form| %>
  <% if shift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shift.errors.count, "error") %> prohibited this shift from being saved:</h2>

      <ul>
      <% shift.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-1">
      <div class="field form-group">
        <%= form.label :planning_id %>
        <%= form.number_field :planning_id, id: :shift_planning_id, :class => "form-control" %>
      </div>

      <div class="field form-group">
        <%= form.label :worker_id %>
        <%= form.select :worker_id, options_for_select(Worker.all.map{ |w| [w.id] }), {}, { :class => "form-control" }  %>
      </div>

      <div class="field form-group">
        <%= form.label :start_date %>
        <%= form.text_field :start_date, id: :shift_start_date, :class => "form-control" %>
      </div>

      <div class="actions">
        <%= form.submit 'Submit', :class => "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>