<%= form_with(model: shift, local: true) do |form| %>
  <% if shift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shift.errors.count, "error") %> prohibited this shift from being saved:</h2>

      <ul>
      <% shift.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :planning_id %>
    <%= form.number_field :planning_id, id: :shift_planning_id %>
  </div>

  <div class="field">
    <%= form.label :worker_id %>
    <%= form.number_field :worker_id, id: :shift_worker_id %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.text_field :start_date, id: :shift_start_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
